<div class="container-sm index">
    <section class="content_box">
        <h2>投稿の編集<i class="fas fa-book-open"></i></h2>


        <%= render partial: 'form', locals: {content: @content} %>
    </section>
     <%#SVG B====================%>
    <%= link_to content_path, data_toggle: 'tooltip', data_placement: 'topdo', title: '戻る'  do %>
        <%= embedded_svg('back.svg', class: "plus")%>
    <% end %>
</div>