<div class="container-sm index">

 <%#ユーザー=============================%>
    <section>
        <div class="row user-profile">
            <div class="col-md-3 user-introduction">
                <%= image_tag 'IMG_3016.JPG',class: 'user_image' %>
            </div>
            <div class="user-discription col-md-8">
                <h2>USER_NAME</h2>
                <p>R2.2からRubyとRails学習開始。エンジニアになることが目標です。
                家族とプログラミングが大好きです。普段は製造業の品質関係に携わっています。
                ゆるゆるとプログラミングと学習内容について呟きます。プログラミング仲間募集中です！
                気軽に絡んでください目が笑っている笑顔※勧誘系DMは返せません
                日々、一歩ずつでも絶対に前進して行く！</p>
                <div class="row">
                    <div class="col-md-3 follow">
                        フォロー
                    </div>
                    <div class="col-md-3 follower">
                        フォロワー
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary user-edit-btn">編集</button>
        </div>
    </section>

 <%#検索=============================%>
    <section class="search-section">
        <form class="search-container" action="//llamaswill.tumblr.com/search">
            <input id="search-box" type="text" class="search-box" name="q" />
            <label for="search-box"><i class="fas fa-search search-icon"></i></label>
            <input type="submit" id="search-submit" />
        </form>
    </section>
 <%#テーブル=============================%>
    <section class="tables">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">URL</th>
                    <th scope="col">概要</th>
                    <th scope="col">カテゴリー</th>
                    <th scope="col">日時</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Twitter</th>
                    <td><a href="指定したリンク先">URL</a></td>
                    <td>SNS</td>
                    <td>プログラミング</td>
                    <td>2020.4.28</td>
                </tr>
                <tr>
                    <th scope="row">github</th>
                    <td><a href="指定したリンク先">URL</a></td>
                    <td>ソフトウェア開発ツール</td>
                    <td>プログラミング</td>
                    <td>2020.4.28</td>
                </tr>
                <tr>
                    <th scope="row">Qiita</th>
                    <td><a href="指定したリンク先">URL</a></td>
                    <td>プログラミング情報共有</td>
                    <td>プログラミング</td>
                </tr>
                <tr>
                    <th scope="row">Qiita</th>
                    <td><a href="指定したリンク先">URL</a></td>
                    <td>プログラミング情報共有</td>
                    <td>プログラミング</td>
                </tr>
                <tr>
                    <th scope="row">Qiita</th>
                    <td><a href="指定したリンク先">URL</a></td>
                    <td>プログラミング情報共有</td>
                    <td>プログラミング</td>
                </tr>
                <tr>
                    <th scope="row">Qiita</th>
                    <td><a href="指定したリンク先">URL</a></td>
                    <td>プログラミング情報共有</td>
                    <td>プログラミング</td>
                </tr>
                <tr>
                    <th scope="row">Qiita</th>
                    <td><a href="指定したリンク先">URL</a></td>
                    <td>プログラミング情報共有</td>
                    <td>プログラミング</td>
                </tr>
            </tbody>
    </table>
    </section>


 <%#SVG +==========================%>
    <a href="#">
        <svg class="plus"
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            width="120mm"
            height="120mm"
            viewBox="0 0 120 120"
            version="1.1"
            id="svg8"
            inkscape:version="1.0rc1 (09960d6, 2020-04-09)"
            sodipodi:docname="plus.svg">
            <defs
                id="defs2">
                <rect
                x="114.14881"
                y="160.2619"
                width="3.7797618"
                height="35.529762"
                id="rect20" />
                <rect
                x="89.202377"
                y="148.92262"
                width="26.458332"
                height="24.190475"
                id="rect14" />
            </defs>
            <sodipodi:namedview
                id="base"
                pagecolor="#ffffff"
                bordercolor="#666666"
                borderopacity="1.0"
                inkscape:pageopacity="0.0"
                inkscape:pageshadow="2"
                inkscape:zoom="0.35"
                inkscape:cx="22.857142"
                inkscape:cy="294.28571"
                inkscape:document-units="mm"
                inkscape:current-layer="g35"
                inkscape:document-rotation="0"
                showgrid="false"
                fit-margin-top="0"
                fit-margin-left="0"
                fit-margin-right="0"
                fit-margin-bottom="0"
                inkscape:window-width="1440"
                inkscape:window-height="775"
                inkscape:window-x="0"
                inkscape:window-y="23"
                inkscape:window-maximized="0" />
            <metadata
                id="metadata5">
                <rdf:RDF>
                <cc:Work
                    rdf:about="">
                    <dc:format>image/svg+xml</dc:format>
                    <dc:type
                    rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                    <dc:title />
                </cc:Work>
                </rdf:RDF>
            </metadata>
            <g
                inkscape:label="レイヤー 1"
                inkscape:groupmode="layer"
                id="layer1"
                transform="translate(-45.357143,-65.011905)">
                <text
                xml:space="preserve"
                id="text12"
                style="font-style:normal;font-weight:normal;font-size:10.58329999999999949px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect14);fill:#000000;fill-opacity:1;stroke:none;" />
                <text
                xml:space="preserve"
                id="text18"
                style="font-style:normal;font-weight:normal;font-size:10.58329999999999949px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect20);fill:#000000;fill-opacity:1;stroke:none;" />
                <g
                id="g35"
                transform="translate(45.357143,65.011905)">
                <g
                    id="g28" />
                <circle
                    style="fill:#a9a9a9;fill-rule:evenodd;stroke-width:0.262581"
                    id="path24"
                    cx="-60"
                    cy="60"
                    transform="scale(-1,1)"
                    r="60" />
                <text
                    xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:169.13999999999998636px;line-height:1.25;font-family:'.Al Tarikh PUA';-inkscape-font-specification:'.Al Tarikh PUA, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.19818"
                    x="5"
                    y="105"
                    id="text30"
                    transform="scale(1.0020662,0.99793806)"><tspan
                    id="tspan23"
                    sodipodi:role="line"
                    x="5"
                    y="105"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:169.14px;font-family:'.Al Tarikh PUA';-inkscape-font-specification:'.Al Tarikh PUA, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#ffffff;stroke-width:4.19818">+</tspan><tspan
                    id="tspan27"
                    sodipodi:role="line"
                    x="22.174873"
                    y="306.81406"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:169.14px;font-family:'.Al Tarikh PUA';-inkscape-font-specification:'.Al Tarikh PUA, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#ffffff;stroke-width:4.19818" /></text>
                </g>
            </g>
        </svg>
    </a>

 <%#SVG T====================%>
    <a href="#">
        <svg class="timeline"
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            width="120mm"
            height="120mm"
            viewBox="0 0 120 120"
            version="1.1"
            id="svg8"
            inkscape:version="1.0rc1 (09960d6, 2020-04-09)"
            sodipodi:docname="timeline.svg">
            <defs
                id="defs2">
                <rect
                x="114.14881"
                y="160.2619"
                width="3.7797618"
                height="35.529762"
                id="rect20" />
                <rect
                x="89.202377"
                y="148.92262"
                width="26.458332"
                height="24.190475"
                id="rect14" />
            </defs>
            <sodipodi:namedview
                id="base"
                pagecolor="#ffffff"
                bordercolor="#666666"
                borderopacity="1.0"
                inkscape:pageopacity="0.0"
                inkscape:pageshadow="2"
                inkscape:zoom="0.35"
                inkscape:cx="22.857142"
                inkscape:cy="294.28571"
                inkscape:document-units="mm"
                inkscape:current-layer="g35"
                inkscape:document-rotation="0"
                showgrid="false"
                fit-margin-top="0"
                fit-margin-left="0"
                fit-margin-right="0"
                fit-margin-bottom="0"
                inkscape:window-width="1440"
                inkscape:window-height="775"
                inkscape:window-x="0"
                inkscape:window-y="23"
                inkscape:window-maximized="0" />
            <metadata
                id="metadata5">
                <rdf:RDF>
                <cc:Work
                    rdf:about="">
                    <dc:format>image/svg+xml</dc:format>
                    <dc:type
                    rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                    <dc:title />
                </cc:Work>
                </rdf:RDF>
            </metadata>
            <g
                inkscape:label="レイヤー 1"
                inkscape:groupmode="layer"
                id="layer1"
                transform="translate(-45.357143,-65.011905)">
                <text
                xml:space="preserve"
                id="text12"
                style="font-style:normal;font-weight:normal;font-size:10.58329999999999949px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect14);fill:#000000;fill-opacity:1;stroke:none;" />
                <text
                xml:space="preserve"
                id="text18"
                style="font-style:normal;font-weight:normal;font-size:10.58329999999999949px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect20);fill:#000000;fill-opacity:1;stroke:none;" />
                <g
                id="g35"
                transform="translate(45.357143,65.011905)">
                <circle
                    r="60"
                    transform="scale(-1,1)"
                    cy="60"
                    cx="-60"
                    id="path24"
                    style="fill:#a9a9a9;fill-rule:evenodd;stroke-width:0.262581" />
                <text
                    transform="scale(0.99760854,1.0023972)"
                    id="text30"
                    y="101.22932"
                    x="30.071917"
                    style="font-style:normal;font-weight:normal;font-size:98.0689px;line-height:1.25;font-family:sans-serif;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.45173"
                    xml:space="preserve"><tspan
                    style="fill:#ffffff;stroke-width:2.45173"
                    y="101.22932"
                    x="30.071917"
                    sodipodi:role="line"
                    id="tspan55">T</tspan></text>
                </g>
            </g>
        </svg>
    </a>
</div>
