<div class="container-sm index">
    <section>
        <h2>新規投稿</h2>


    </section>



 <%#SVG B====================%>
    <%= link_to contents_path do %>
        <%= embedded_svg('back.svg', class: "plus")%>
    <% end %>
</div>