/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span,
object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
abbr, address, cite,
code, del, dfn, em,
img, ins, kbd, q, samp,
small, strong, sub, sup,
var, b, i, dl, dt, dd, ol,
ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, figcaption, figure,
footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}
/* ======================================================================================== */

/* ここから下にCSSを記述 */
.index{
    padding-top: 5rem;
    position: relative;
}

// ナビバー

.header-nav {
    background-color: #fff !important;
    border-bottom: 1px solid #d8d8d8;
}
.navbar-brand{
    font-family: "Nico Moji";
    font-size: 45px;
    margin-left:1%;
}

.navbar-light .navbar-nav .nav-link{
    padding: 17px;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

button.navbar-toggler:focus{
    outline:none;
}


// フッター

footer{
    background-color: #e6e6fa !important;
}

footer div{
    text-align: center;
    padding-top: 1rem;
}

.footer-logo{
    font-family: "Nico Moji";
    color: #000;
    text-decoration : none !important;
    font-size: 30px;
}

.footer-logo:hover{
    color: #000;
}

footer p{
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 0.5rem 0px 1.5rem 0px;
}

// SVG

.plus{
    height: auto;
    width: 100%;
    max-width: 60px;
    min-width: 30px;
    z-index: 5;
    opacity: 0.4;
    position: fixed;
    bottom: 40px;
    right: 40px;
}
.plus:hover{
    opacity: 1;
    cursor: pointer;
}

.delete{
    height: auto;
    width: 100%;
    max-width: 60px;
    min-width: 30px;
    z-index: 5;
    opacity: 0.4;
    position: fixed;
    bottom: 40px;
    right: 120px;
}

.delete:hover{
    opacity: 1;
    cursor: pointer;
}

.timeline{
    height: auto;
    width: 100%;
    max-width: 60px;
    min-width: 30px;
    z-index: 5;
    opacity: 0.4;
    position: fixed;
    bottom: 40px;
    right: 200px;
}
.timeline:hover{
    opacity: 1;
    cursor: pointer;
}

/*ページネーションデザイン*/
.pagination>li>a {
    border: none;     /*枠線をなくす*/
    color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
    background: #696969!important;     /*背景の色を変える*/
    border-radius: 50%;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
    border-radius: 50%;    /*角を丸くする*/
}

/*フォロー、アンフォローボタン*/
.follow_btn{
    background:#6C757D;
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    max-width: 120px;
    font-size:1.2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin: 3% auto;
}
.follow_btn:hover{
    background:#fff;
    color:#1AAB8A;
    border:solid 1px #1AAB8A;
}

.unfollow_btn{
    background:#fff;
    color:#1AAB8A;
    border:solid 1px #1AAB8A;
    position:relative;
    height:40px;
    max-width: 120px;
    font-size:1.2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin: 3% auto;
}
.unfollow_btn:hover{
    background:#6C757D;
    color:#fff;
    border: none;
}

*{
    word-wrap: break-word;
}