// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ユーザーセクション
.index{
    padding-top: 5rem;
}

.user-profile{
    position: relative;
}

.user_image{
    height: auto;
    width: 100%;
    max-width: 190px;
    min-width: 160px;
}

.user-discription h2{
    padding: 3% 0;
    font-size: 20px;
}

.follow{
    padding: 2% 0;
}
.follower{
    padding: 2% 0;
}

.user-edit-btn{
    position: absolute;
    bottom: 2%;
    right: 2%;
}

// テーブルセクション
.tables{
    padding-top: 3rem;
}

thead{
    background-color: rgba(230, 230, 250,0.3) !important;
}

th{
    padding: 3% !important;
}
td{
    padding: 3% !important;
}