// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// contents_index(ユーザー画面、コンテンツ一覧画面)
// ユーザーセクション==============================
$color: #6C757D;
.user-profile{
    position: relative;

    .user-discription h2{
        padding: 3% 0;
        font-size: 20px;
    }

    .follow{
        padding: 2% 0;
    }
    .follower{
        padding: 2% 0;
    }

    .user-edit-btn{
        position: absolute;
        bottom: 2%;
        right: 2%;
        color: #fff!important;
    }
}
.user_image{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-width: 190px;
    min-width: 160px;
}
.default_image{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-width: 150px;
    min-width: 150px;
}
@media screen and (max-width: 768px) {
    .none{
        display: none;
    }
    .user_image{
        display: block;
        margin: 0 auto;
        height: auto;
        width: 100%;
        max-width: 80px;
        min-width: 80px;
        margin-top: 15%;
    }
    .default_image{
        display: block;
        margin: 0 auto;
        height: auto;
        width: 100%;
        max-width: 60px;
        min-width: 60px;
        margin-top: 15%;
    }
}




// 検索バー==============================
$tl: 0.6s; // transition length

.search-section{
    padding: 20px 0;
    margin-left: 10px;
    .search-box {
        transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
        width: 50px;height: 50px;
        border-radius: 30px;border: none;
        cursor: pointer;
        background: rgb(235, 235, 235);
        & + label .search-icon {    color: black    }
        &:hover {
        color: white;
        background: rgb(200, 200, 200);
        box-shadow: 0 0 0 5px rgb(61, 71, 82);
        & + label .search-icon {    color: white    }
    }
    &:focus {
        transition: width $tl cubic-bezier(0,1.22,.66,1.39), border-radius $tl, background $tl;
        border: none;outline: none;
        box-shadow: none;
        padding-left: 15px;
        cursor: text;
        width: 400px;
        border-radius: auto;
        background: rgb(235, 235, 235);
        color: black;
        & + label .search-icon {    color: black;    }
    }
    &:not(:focus) {    text-indent:-5000px;    }
    }

    #search-submit {
        position: relative;left: -5000px;
    }

    .search-icon {
        position: relative;
        top: 3px;
        left: -40px;
        color: white;
        cursor: pointer;
    }

}



// テーブルセクション==============================
.table{
    width: 100%;
    table-layout: fixed;

    tr:nth-last-child(1) {
        border-bottom: 1px solid #DEE2DE !important;
    }

    thead{
        background-color: rgba(230, 230, 250,0.3) !important;
    }

    th{
        padding: 3% !important;
        font-size: 1rem;
    }

    td{
        padding: 3% !important;
        word-wrap: break-word;
        position: relative;
    }
    .td_description{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .paginate{
        margin: 0.5%;
    }
}

// アラート（フラッシュ）
.alert-dismissible .close {
    padding: 0.4rem 1.25rem !important ;
}
.close:focus{
    outline: 0;
    box-shadow: none;
}


// index_html select_check_box
.select-label {
    font-family: sans-serif;
    cursor: pointer;
    &:before{
    display: inline-block;
    content: "+";
    margin: 0 10px 0 0;
        width: 35px;
        height: 35px;
    border: 3px solid $color;
        border-radius: 100%;
    vertical-align: middle;
    color: $color;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    line-height: 0.8em;
    transition: transform 0.2s ease-in-out;
    }
}

.checkbox-select:checked + .select-label:before{
    background: $color;
    color: #fff;
    transform:rotate(135deg);
    transform-origin: center center;
}

.checkbox-select { visibility: hidden; }

@media screen and (max-width: 993px) {
.select-label {
    position: absolute;
    top: 20%;
    left: 30%;
    }
}


// content_new(新規投稿作成画面)
.errors-val{
    list-style: none;
    color: red;
    padding: 0 0 1% 0;
    text-decoration: underline;
}


.content_box {
    h2:first-child{
        font-size: 2em;
        font-weight: 600;
        padding: 2% 0;
        color: #6C757D;
    }
    h2:last-child{
        padding: 0 !important;
    }
    .fa-book-open{
        padding-left: 1%;
    }
    input{
        height: 50px;
    }
    label{
        padding: 10px 0;
        font-weight: 500;
    }
    .form-group{
        margin-bottom: 2% !important;
    }
    .exampleFormControl{
        padding-top: 1%;
    }
    .private-select{
        height: 50px;
    }
    #headingOne{
        padding-left: 1%;
    }
    .add-choice{
        width: 100%;
        text-align: left;
    }
    .add-choice:focus{
        box-shadow: none;
    }
    .btn:first-child{
        padding: 1%;
    }
    .btn[type="submit"]{
        width: 100%;
        margin: 5% 0;
        height: 50px;
    }
    .btn[type="submit"]{
        background:#6C757D;
        color:#fff;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
    }
    .btn[type="submit"]:hover{
        background:#fff;
        color:#1AAB8A;
    }
    .btn[type="submit"]:before,.btn[type="submit"]:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #1AAB8A;
        transition:400ms ease all;
    }
    .btn[type="submit"]:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
    }
    .btn[type="submit"]:hover:before,.btn[type="submit"]:hover:after{
        width:100%;
        transition:800ms ease all;
    }
}

// favorite_contents

.favorite_contents{
    a, a:hover{
        color: #6C757D;
    }
    .contents_container{
        position: relative;
        padding: 1.3rem;
    }
    .favorites_user_image{
        display: block;
        margin: 0 auto;
    }
    .content_info{
        height: 90%;
    }
    .favorites_button{
        position: absolute;
        top: 3%;
        right: 2%;
    }
    .comment_info{
        position: absolute;
        top: 45%;
        right: 3.2%;
    }
@media screen and (max-width: 768px) {
    .content_info{
        height: 85%;
        width: 90%;
    }
}
}