// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ユーザーセクション==============================

.user-profile{
    position: relative;
}

.user_image{
    height: auto;
    width: 100%;
    max-width: 190px;
    min-width: 160px;
}

.user-discription h2{
    padding: 3% 0;
    font-size: 20px;
}

.follow{
    padding: 2% 0;
}
.follower{
    padding: 2% 0;
}

.user-edit-btn{
    position: absolute;
    bottom: 2%;
    right: 2%;
}



// 検索バー==============================
$tl: 0.6s; // transition length

.search-section{
    padding: 20px 0;
    margin-left: 10px;
}

.search-box {
    transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
    width: 50px;height: 50px;
    border-radius: 30px;border: none;
    cursor: pointer;
    background: rgb(235, 235, 235);
    & + label .search-icon {    color: black    }
    &:hover {
    color: white;
    background: rgb(200, 200, 200);
    box-shadow: 0 0 0 5px rgb(61, 71, 82);
    & + label .search-icon {    color: white    }
}
&:focus {
    transition: width $tl cubic-bezier(0,1.22,.66,1.39), border-radius $tl, background $tl;
    border: none;outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 400px;
    border-radius: auto;
    background: rgb(235, 235, 235);
    color: black;
    & + label .search-icon {    color: black;    }
}
  &:not(:focus) {    text-indent:-5000px;    } // for more-graceful falling back (:not browsers likely support indent)
}

#search-submit {
    position: relative;left: -5000px;
}

.search-icon {
    position: relative;
    top: 3px;
    left: -36px;
    color: white;
    cursor: pointer;
}



// テーブルセクション==============================
tr:nth-last-child(1) {
    border-bottom: 1px solid #DEE2DE !important;
}

thead{
    background-color: rgba(230, 230, 250,0.3) !important;
}

th{
    padding: 3% !important;
}
td{
    padding: 3% !important;
}