// Place all the styles related to the time_line controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.time_line{
    h2{
        font-size: 2em;
        font-weight: 600;
        padding: 2% 0;
        color: #6C757D;
    }
    .content_container{
        position: relative;
        padding: 1.25rem;
    }
    .time_line_user_name{
        text-align: center;
        font-weight: 600;
        font-size: 1.2rem;
    }
    .time_line_user_image{
        display: block;
    }
    .title{
        font-weight: 600;
        font-size: 1.2rem;
    }
    .content_info{
        height: 90%;
        width: 90%;
    }
    a, a h3, a p {
        color: rgb(105, 105, 105);
    }
    a:hover, a h3:hover, a p:hover{
        color: rgb(105, 105, 105);
    }
    @media screen and (max-width: 768px) {
        .time_line_user_image{
            display: block;
            height: 60%;
            width: 60%;
        }
        .content_info{
            height: 80%;
            width: 90%;
        }
    }
}