<p>Welcome <%= @resource.name %>様</p>


<p>「まいぶく」登録が完了しました。</p>

<p>ご登録内容</p>
<p>アカウント名：<%= @resource.name %></p>
<p>メールアドレス：<%= @resource.email %></p>
<p>パスワード：セキュリティ保護の為、伏せさせていただきます。</p>

<p>※本メールはサーバーからの自動返信メールとなっております。<br>
<p>本メールに返信いただいてもご連絡いたしかねますのでご了承ください。</p>

<p>さあ、ブックマークを管理して楽しいネットライフを！
<p><%= link_to 'まいぶくへ!!', root_url %></p>
