<p><%= @resource.name %>様</p>


<p>まいぶくのご利用、ありがとうございます。</p>
<p>この度、パスワード変更の要求がありました。</p>

<p><%= link_to 'パスワード変更リンク', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>心当たりのない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されないのでご注意ください。</p>
